@using System.Globalization
@{
    ViewData["Title"] = "Prochaine fermeture";
}
@{
    Model.Sort((a, b) => a.closing_date.CompareTo(b.closing_date));

}
@{ 
    var currentTime = DateTime.Now.TimeOfDay;
}
@model List<Temps>


<div class="text-center">
    <h1 class="display-4">Prochaine fermeture</h1>
    <p>Prochaine fermeture : @Model.OrderBy(x => Math.Abs(currentTime.Ticks - x.closing_date.Ticks)).FirstOrDefault(); </p>
</div>

<ul>
    @foreach (var fermeture in Model)
    {
        <li>@fermeture.closing_date @fermeture.closing_date.DayOfWeek</li>
    }
</ul>  