@{
    ViewData["Title"] = "Toutes les fermetures";
}
<h1>@ViewData["Title"]</h1>

@model List<Temps>
@{
    Model.Sort((a, b) => a.closing_date.CompareTo(b.closing_date));
}

<div style="float:left">
    <table>
        <tr>
            <th>Fermetures a venir</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.closing_date > DateTime.Now)
            {

                <tr>
                    <td style="padding-right:50px">@item.closing_date</td>
                    <td>@item.boat_name</td>
                    <td>ekip</td>
                </tr>
            }
        }
    </table>
</div>

<div style="float:right">
    <table>
        <tr>
            <th>Fermetures deja passees</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.closing_date < DateTime.Now)
            {
                <tr>
                    <td>@item.closing_date</td>
                </tr>
            }
        }
    </table>
</div>
